.btn {
	display: inline-block;
	vertical-align: top;
	line-height: 38px;
	height: 40px;
	width: 20%;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
	transition: .3s ease;
	border: 1px solid #999;
	-webkit-appearance: none;
	&:hover {
		background-color: #eee;
		box-shadow: 2px 2px 7px rgba(0,0,0, 0.15);
	}
	&--modal {
		width: 100%;
		background-color: #f3f3f3;
		text-align: center;
	}
}