.message-wrap {
	text-align: left;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	&--right {
		text-align: right;
	}
	&--center {
		text-align: center;
	}
	&__connect {
		font-size: 14px;
		font-weight: 700;
		color: #999;
	}
}