.users-box {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 300px;
	z-index: 5;
	border: 1px solid #666;
	border-bottom: 0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #f3f3f3;
	&__show-btn {
		background-color: #ddd;
		font-size: 14px;
		text-align: center;
		transition: .3s ease;
		cursor: pointer;
		line-height: 30px;
		&:hover {
			background-color: #fff;
		}
		&--show {
			border-radius: 5px 5px 0 0;
		}
		&--hide {
			border-radius: 0;
		}
	}
	&__list {
		list-style: none;
		font-size: 15px;
		color: #666;
		li {
			margin-bottom: 4px;
			padding: 0 4px;
			&:first-child {
				padding: 4px 4px 0;
			}
		}
	}
}